[class^="icon-"],
[class*="icon-"] {
  display: inline-block;
}

.icon-sprite, .icon-down-arrow-lg-white, .icon-down-arrow-lg, .icon-left-arrow-lg, .icon-left-quote, .icon-right-arrow, .icon-right-quote, .icon-sharing, .icon-telephone {
  background-image: url('../images/icon-s95dd05a980.png');
  background-repeat: no-repeat;
}

.icon-down-arrow-lg-white {
  background-position: 0 0;
}

.icon-down-arrow-lg {
  background-position: -44px 0;
}

.icon-left-arrow-lg {
  background-position: -88px 0;
}

.icon-left-quote {
  background-position: -100px 0;
}

.icon-right-arrow {
  background-position: -110px 0;
}

.icon-right-quote {
  background-position: -138px 0;
}

.icon-sharing {
  background-position: -148px 0;
}

.icon-telephone {
  background-position: -176px 0;
}

.icon-telephone {
  height: 28px;
  width: 28px;
}

.icon-right-arrow {
  height: 28px;
  width: 28px;
}

.icon-sharing {
  height: 28px;
  width: 28px;
}

.icon-left-quote {
  height: 8px;
  width: 10px;
}

.icon-right-quote {
  height: 8px;
  width: 10px;
}

.icon-left-arrow-lg {
  height: 24px;
  width: 12px;
}

.icon-down-arrow-lg {
  height: 11px;
  width: 44px;
}

.icon-down-arrow-lg-white {
  height: 11px;
  width: 44px;
}
