// this file is compile with compass.

@import "compass/utilities/sprites";

[class^="icon-"],
[class*="icon-"] {
	display: inline-block;
}

$icon-layout:horizontal;
@import "icon/*.png";
@include all-icon-sprites;
$icon: sprite-map("icon/*.png", $spacing: 10px);



.icon-telephone {
    @include sprite-dimensions($icon, telephone);
}

.icon-right-arrow {
    @include sprite-dimensions($icon, right-arrow);
}

.icon-sharing {
    @include sprite-dimensions($icon, right-arrow);
}

.icon-left-quote {
    @include sprite-dimensions($icon, left-quote);
}

.icon-right-quote {
    @include sprite-dimensions($icon, right-quote);
}

.icon-left-arrow-lg {
    @include sprite-dimensions($icon, left-arrow-lg);
}

.icon-down-arrow-lg {
    @include sprite-dimensions($icon, down-arrow-lg);
}

.icon-down-arrow-lg-white {
    @include sprite-dimensions($icon, down-arrow-lg-white);
}